<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html::head">
</head>

<body>

<nav th:replace="fragments/header.html::navbar">
</nav>

<div class="container">
    <h1 th:align="center">Карточка товара</h1>
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/product/save}" th:method="post" th:object="${product}">
                <input th:field="*{id}" type="hidden" id="id" name="id" >
                <div class="form-group">
                    <label for="name">Наименование</label>
                    <input th:field="*{name}" type="text" class="form-control" id="name" name="name" placeholder="Введите название">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="form-group">
                    <label for="cost">Цена</label>
                    <input th:field="*{cost}" type="number" class="form-control" id="cost" name="cost" placeholder="Введите стоимость">
                    <p class="text-danger" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>
                </div>

                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a class="btn btn-secondary" th:href="@{/product/list}">Отмена</a>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer.html::scripts">
</th:block>

</body>
</html>
